<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Equipment_Scanner.Properties.Settings.EquipmentLogsConnectionString"
            connectionString="Data Source=CNS-VM-SQL08R2;Initial Catalog=EquipmentLogs;Persist Security Info=True;User ID=SA;Password=Cap$y$Pwd!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>